p {
  font-size: 0.9rem;
  /* color: red !important; */
}
.bg-dark-blue {
  background-color: #033b72; /* Dark blue color */
  color: white;
}
/* Align navbar links horizontally */
.navbar-links {
  display: flex;
  gap: 1rem; /* Adjust the gap as needed */
  align-items: center; /* Center vertically with the navbar */
}

/* Optional: Adjust spacing between icon and text */
.navbar-links p i {
  margin-right: 5px; /* Space between icon and text */
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.aitb-logo {
  background: url("../../../assets/images/aitblogoblue.JPG") no-repeat center
    center; /* Replace with your logo path */
  background-size: contain;
  height: 60px; /* Adjust the height as needed */
  width: 100px; /* Adjust the width as needed */
}
