<nav class="navbar bg-dark-blue">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <div class="aitb-logo"></div>
    </a>
    <div class="navbar-links">
      <p class="navbar-brand text-white">
        <i class="fas fa-ticket-alt"></i> All Tickets
      </p>
      <p class="navbar-brand text-white">
        <i class="fas fa-folder-open"></i> Opened Tickets
      </p>
      <p class="navbar-brand text-white">
        <i class="fas fa-user"></i> My Tickets
      </p>
      <p class="navbar-brand text-white">
        <i class="fas fa-exclamation-circle"></i> Critical Tickets
      </p>
    </div>

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search by Num."
        aria-label="Search"
      />
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>

    <div class="navbar-profile">
      <button class="btn btn-outline-light" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
