<section class="news text-center my-5">
  <div class="container">
    <div class="bg-secondary text-white p-3 text">
      <h1>List Of Items</h1>
      <hr />
    </div>

    <div class="row mt-3">
      <div class="col-md-4 col-sm-12 my-2">
        <div class="card">
          <img src="../../assets/images/landline-phone.jpg" alt="Landline Phone" class="card-img-top" style="width: 20rem" />
          <div class="card-body">
            <h5 class="card-title">Landline Phone</h5>
            <p class="card-text">Document Production</p>
            <hr />
            <a href="#" class="btn btn-outline-info" target="_blank">View</a>
            <p class="btn btn-outline-dark mx-2">650 price</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 my-2">
        <div class="card">
          <img src="../../assets/images/landline-phone.jpg" alt="Landline Phone" class="card-img-top" style="width: 20rem" />
          <div class="card-body">
            <h5 class="card-title">Landline Phone</h5>
            <p class="card-text">Document Production</p>
            <hr />
            <a href="#" class="btn btn-outline-info" target="_blank">View</a>
            <p class="btn btn-outline-dark mx-2">650 price</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 my-2">
        <div class="card">
          <img src="../../assets/images/landline-phone.jpg" alt="Landline Phone" class="card-img-top" style="width: 20rem" />
          <div class="card-body">
            <h5 class="card-title">Landline Phone</h5>
            <p class="card-text">Document Production</p>
            <hr />
            <a href="#" class="btn btn-outline-info" target="_blank">View</a>
            <p class="btn btn-outline-dark mx-2">650 price</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 my-2">
        <div class="card">
          <img src="../../assets/images/landline-phone.jpg" alt="Landline Phone" class="card-img-top" style="width: 20rem" />
          <div class="card-body">
            <h5 class="card-title">Landline Phone</h5>
            <p class="card-text">Document Production</p>
            <hr />
            <a href="#" class="btn btn-outline-info" target="_blank">View</a>
            <p class="btn btn-outline-dark mx-2">650 price</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 my-2">
        <div class="card">
          <img src="../../assets/images/landline-phone.jpg" alt="Landline Phone" class="card-img-top" style="width: 20rem" />
          <div class="card-body">
            <h5 class="card-title">Landline Phone</h5>
            <p class="card-text">Document Production</p>
            <hr />
            <a href="#" class="btn btn-outline-info" target="_blank">View</a>
            <p class="btn btn-outline-dark mx-2">650 price</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 my-2">
        <div class="card">
          <img src="../../assets/images/landline-phone.jpg" alt="Landline Phone" class="card-img-top" style="width: 20rem" />
          <div class="card-body">
            <h5 class="card-title">Landline Phone</h5>
            <p class="card-text">Document Production</p>
            <hr />
            <a href="#" class="btn btn-outline-info" target="_blank">View</a>
            <p class="btn btn-outline-dark mx-2">650 price</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
