<nav class="nav flex-column bg-dark-blue p-3">
  <h4 class="text-white mb-4">Filter Navigation</h4>
  <div class="nav-section">
    <p class="nav-link-section text-white">CREATE NEW</p>
    <a class="nav-link text-white" href="#">
      <i class="fas fa-exclamation-circle"></i> Incident
    </a>
    <a class="nav-link text-white" href="#">
      <i class="fas fa-folder"></i> Requests
    </a>
    <a class="nav-link text-white" href="#">
      <i class="fas fa-book"></i> Knowledge
    </a>
    <a class="nav-link text-white" href="#">
      <i class="fas fa-archive"></i> Asset
    </a>
  </div>
  <hr class="text-white" />
  <div class="nav-section">
    <p class="nav-link-section text-white">CONSOLE</p>
    <a class="nav-link text-white" href="#">
      <i class="fas fa-ticket-alt"></i> Ticket
    </a>
    <a class="nav-link text-white" href="#">
      <i class="fas fa-folder-open"></i> Request
    </a>
    <a class="nav-link text-white" href="#">
      <i class="fas fa-book"></i> Knowledge
    </a>
    <a class="nav-link text-white" href="#">
      <i class="fas fa-archive"></i> Asset
    </a>
  </div>
  <hr class="text-white" />
  <a class="nav-link text-white" href="#">
    <i class="fas fa-inbox"></i> Inbox
  </a>
  <a class="nav-link text-white" href="#">
    <i class="fas fa-history"></i> History
  </a>
</nav>
