<app-navbar></app-navbar>

<section class="showcase text-center text-white">
  <nav class="navbar">
    <h2 class="navbar-brand">Hello {{ username }}, How can we help?</h2>
    <div class="container-fluid d-flex flex-column align-items-start">
      <form class="d-flex w-100 mt-2 bg-body-tertiary" role="search">
        <div class="input-group">
          <span class="input-group-text bg-body-tertiary border-0">
            <i class="fas fa-search"></i>
          </span>
          <input
            class="form-control me-2 ps-5"
            type="search"
            placeholder="Hello, How can we help?"
            aria-label="Search"
          />
          <button type="button" class="btn btn-primary btn-sm">
            Find Help
          </button>
        </div>
      </form>
    </div>
  </nav>
</section>

<!-- Navigation Bar -->
<ul class="nav justify-content-center mt-4">
  <li class="nav-item">
    <a
      class="nav-link active"
      aria-current="page"
      href="#"
      routerLink="/listofitems"
    >
      <i class="fas fa-edit"></i> Create Request
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-exclamation-circle"></i> Create Incident
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-book"></i> Knowledge Base
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> <i class="fas fa-envelope"></i> Email Us </a>
  </li>
</ul>

<section>
  <div class="row mt-3">
    <div class="col-md-4 col-sm-12 my-2">
      <app-show-my-tickets></app-show-my-tickets>
    </div>
    <div class="col-md-4 col-sm-12 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Approvals</h5>
          <p class="card-text">REQ. - Laptop request</p>
          <p class="card-text">REQ. - Laptop request</p>
          <hr />
          <p>2 out of 13</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Outage</h5>
          <p class="card-text">
            ATTENTION: We are facing issues with our E-Mail Servers
          </p>
          <p class="card-text">No system is reporting an issue</p>
          <p class="card-text">We are facing issues with our E-Mail Services</p>
          <hr />
          <p>1 out of 12</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Asset</h5>
          <p class="card-text">Laptop: Dell, 6GB RAM, 256SSD</p>
          <p class="card-text">Mobile: Samsung, 6GB RAM, 256SSD</p>
          <p class="card-text">Service: Email, Microsoft, Deployed</p>
          <hr />
          <p>3 out of 13</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Contracts</h5>
          <p class="card-text">CONT0000001: Status, Response, Resolution</p>
          <p class="card-text">CONT0000003: Deployed, 1 hour, 2 hours</p>
          <p class="card-text">CONT0000005: Deployed, 1 hour, 2 hours</p>
          <hr />
          <p>2 out of 13</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Announcements</h5>
          <p class="card-text">Announcement: Summary, Description</p>
          <p class="card-text">Announcement: Summary, Description</p>
          <hr />
          <p>1 out of 12</p>
        </div>
      </div>
    </div>
  </div>
</section>
