<div class="modal" tabindex="-1" id="createTicketModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request For: {{ user.username }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createTicketForm" (ngSubmit)="createTicket()">
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <div class="d-flex align-items-center">
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                [disabled]="true"
                [value]="user.email"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <div class="d-flex align-items-center">
              <input
                type="tel"
                class="form-control"
                id="phone"
                formControlName="phone"
                [disabled]="true"
                [value]="user.phone"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea
              class="form-control"
              id="description"
              formControlName="description"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        >
          Save and close
        </button>
      </div>
    </div>
  </div>
</div>
