<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <div class="aitb-logo"></div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/my-open-tickets">
            <i class="fas fa-ticket-alt"></i> My Open Tickets
          </a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/my-approvals">
            <i class="fas fa-check-circle"></i> My Approvals
          </a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/live-chat">
            <i class="fas fa-comments"></i> Live Chat
          </a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/online-supports">
            <i class="fas fa-life-ring"></i> Online Supports
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
